body {
    font-family: 'Montserrat', sans-serif;
    
}



html{
    scroll-behavior: smooth;

}

@media(min-width: 920px) {
    body {
        background-image: url('../../assets/img/body-shape.svg'),
                          url('../../assets/img/bg.jpg');
        background-repeat: no-repeat, 
                          repeat-x;
        background-position: right top;
    }
}